<div>
	<h1>Contact Details</h1>
</div>

<div style="background-color:rgba(27, 27, 27);color: white;padding: 10px; width: 100%;">
	<table class="table">
		<tr>
			<td>Name:</td>
			<td>{{Setup.name}}</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>{{Setup.email}}</td>
		</tr>
		<tr>
			<td>Cell:</td>
			<td>{{Setup.maincellnumber}}</td>
		</tr>
		<tr>
			<td>Alternative Cell:</td>
			<td>{{Setup.altcellnumber}}</td>
		</tr>
		<tr>
			<td>Address:</td>
			<td>{{Setup.address}}</td>
		</tr>
		<tr>
			<td>Operating Hours:</td>
			<td>Monday - Friday(7am-3pm) Weekends(I only Take Sales Calls) Public Holidays(closed)</td>
		</tr>
	</table>
	<img src="assets/images/bcard.jpg">
</div>