<div
  class="row"
  style="
    background-color: rgba(211, 84, 0, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8px;
    margin-left: 0;
  "
  ng-if="!IsMobile"
>
  <div style="width: 93%">
    <div class="col-lg-4" style="text-align: center">
      <img
        style="border-radius: 5px"
        class="rounded-circle"
        src="assets/images/wplace_1.jpeg"
        alt="Generic placeholder image"
        width="600"
        height="500"
      />
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        style="border-radius: 5px"
        class="rounded-circle"
        src="assets/images/wplace_2.jpeg"
        alt="Generic placeholder image"
        width="600"
        height="500"
      />
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        style="border-radius: 5px"
        class="rounded-circle"
        src="assets/images/wplace3.jpeg"
        alt="Generic placeholder image"
        width="600"
        height="500"
      />
    </div>
  </div>
</div>
<div
  class="row"
  style="
    background-color: rgba(211, 84, 0, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8px;
    margin-left: 0;
  "
  ng-if="IsMobile"
>
  <div style="width: 100%">
    <div class="col-lg-4" style="text-align: center">
      <img
        style="border-radius: 5px"
        class="rounded-circle"
        src="assets/images/wplace_1.jpeg"
        alt="Generic placeholder image"
        width="300"
        height="200"
      />
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        style="border-radius: 5px"
        class="rounded-circle"
        src="assets/images/wplace_2.jpeg"
        alt="Generic placeholder image"
        width="300"
        height="200"
      />
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        style="border-radius: 5px"
        class="rounded-circle"
        src="assets/images/wplace3.jpeg"
        alt="Generic placeholder image"
        width="300"
        height="200"
      />
    </div>
  </div>
</div>
<div
  class="row"
  style="
    background-color: rgba(208, 211, 212, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8px;
    margin-left: 0;
  "
>
  <div style="width: 100%"><br /></div>
  <div class="col-lg-3" style="text-align: center">
    <img
      style="border-radius: 50%"
      class="rounded-circle"
      src="assets/images/BoatsC.jpg"
      alt="Generic placeholder image"
      width="250"
      height="250"
    />
    <h2>Boats</h2>
    <p>
      We Sell Boats, Boat accessories, Renewal of Boat Certificates, Boat
      upholstery as well and much much more
    </p>
    <p style="background-color: rgba(169, 204, 227, 0.9)">
      <a
        class="btn btn-secondary"
        href="#"
        role="button"
        ng-click="GoToproducts('Boat')"
        >View</a
      >
    </p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-3">
    <img
      style="border-radius: 50%"
      class="rounded-circle"
      src="assets/images/CaravanC.jpg"
      alt="Generic placeholder image"
      width="250"
      height="250"
    />
    <h2>Caravans</h2>
    <p>Buy and Sell of Caravans as well as maintenance</p>
    <p style="background-color: rgba(169, 204, 227, 0.9)">
      <a
        class="btn btn-secondary"
        href="#"
        role="button"
        ng-click="GoToproducts('Caravan')"
        >View</a
      >
    </p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-3">
    <img
      style="border-radius: 50%"
      class="rounded-circle"
      src="assets/images/trailersC.jpeg"
      alt="Generic placeholder image"
      width="250"
      height="250"
    />
    <h2>Trailers</h2>
    <p>Building of Trailers, Buy and Sell and much more</p>
    <p style="background-color: rgba(169, 204, 227, 0.9)">
      <a
        class="btn btn-secondary"
        href="#"
        role="button"
        ng-click="GoToproducts('Trailer')"
        >View</a
      >
    </p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-3">
    <img
      style="border-radius: 50%"
      class="rounded-circle"
      src="assets/images/other.png"
      alt="Generic placeholder image"
      width="250"
      height="250"
    />
    <h2>Other</h2>
    <p>
      Boat accessories, Caravan Tents, Spare Wheels,Gholf Carts, Motorcycle
      Trailers, Quad Trailers
    </p>
    <p style="background-color: rgba(169, 204, 227, 0.9)">
      <a
        class="btn btn-secondary"
        href="#"
        role="button"
        ng-click="GoToproducts('Other')"
        >View</a
      >
    </p>
  </div>
</div>
<div
  style="
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(38, 50, 56, 0.9);
  "
>
  <p style="margin: 0 auto; font-size: 30px; color: white">
    We buy and sell second hand Boats, trailers and Caravans along with other
    items as well. Extra Service as upholstery and buoyancy also available.
    Please Contact us for more Details
  </p>
</div>
