
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 btn btn-flat" ng-click="SubNavigation('/subnavigation')">
        <div class="info-box" style="color: white">
            <span class="info-box-icon bg-aqua" style="font-size: 60px;"><i class="fas fa-user-cog"></i></span>
            <div class="info-box-content">
               <h3 class="widget-user-username">App Adminstration</h3>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

</div>