
<div class="row" style="background-color: rgba(211, 84, 0,0.9); width: 100%; height: 100%;text-align: center; padding: 8px;margin-left:0" ng-if="IsMobile">
    <div style="width: 100%">
        <div class="col-lg-4" style="text-align: center;">
            <img style="border-radius: 5px;"  class="rounded-circle" src="assets/images/wplace_1.jpeg" alt="Generic placeholder image" width="300" height="200">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img style="border-radius: 5px;"  class="rounded-circle" src="assets/images/wplace_2.jpeg" alt="Generic placeholder image" width="300" height="200">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img style="border-radius: 5px;"  class="rounded-circle" src="assets/images/wplace3.jpeg" alt="Generic placeholder image" width="300" height="200">
        </div>
    </div>
</div>
<div class="row" style="background-color: rgba(208, 211, 212,1); width: 100%; height: 600px;text-align: center; padding: 8px;margin-top:150px;text-align: center; padding:30px; border-radius: 8px;margin-left: 20px;margin-right: 20px;">
    <div style="width: 100%"><br></div>
    <div class="col-lg-4" style="text-align: center;">
        <img style="border-radius: 50%;" class="rounded-circle" src="assets/images/steenberg.jpeg" alt="Generic placeholder image" width="250" height="250">
        <h2>Estate</h2>
        <p>If you are looking for the life style</p>
        <button class="btn btn-primary" style="width:200px;height:150px;font-size:30px;box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;font-family:verdana;" ng-click="GoToproducts('Estate')"> View</button>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="text-align:center;">
        <img style="border-radius: 50%;" class="rounded-circle" src="assets/images/House1.jpeg" alt="Generic placeholder image" width="250" height="250">
        <h2>Houses</h2>
        <p>We Have the perfect Home for you</p>
        <button class="btn btn-primary" style="width:200px;height:150px;font-size:30px;box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;font-family:verdana;" ng-click="GoToproducts('House')"> View</button>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img style="border-radius: 50%;" class="rounded-circle" src="assets/images/Student.jpeg" alt="Generic placeholder image" width="250" height="250">
        <h2>Student Living</h2>
        <p>View all Our Exclusive Studnet Living</p>
        <button class="btn btn-primary" style="width:200px;height:150px;font-size:30px;box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;font-family:verdana;" ng-click="GoToproducts('Student')"> View</button>
    </div><!-- /.col-lg-4 -->
</div>